<div class="container text-center mx-auto my-3">
    <form id="burgerForm">
        <div class="input-group">
            <label for="burgerInput"></label>
            <input type="text" class="form-control" name="burgerInput" id="burgerInput" placeholder="Name your burger." required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="burgerSubmit">Order.</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="list-group-item-action list-group-item active">Burgers Available</button>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <button type="button" data-toggle="tooltip" data-placement="left" title="Devour?" class="list-group-item list-group-item-action devourBtn" id={{id}}>
                            {{burger_name}}</button>
                        {{/unless}}
                        {{/each}}
                    </div>
                    <div class="col-6">
                        <button type="button" class="list-group-item list-group-item-action active">Burgers Devoured</button>
                        {{#each burgers}}
                        {{#if devoured}}
                        <button type="button" class="list-group-item list-group-item-action" disabled>
                            {{burger_name}}</button>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>