<div class="container">
    <form>
        <div class="form-group">
            <label for="burgerInput"></label>
            <input type="text" class="form-control" name="burgerInput" id="burgerInput" aria-describedby="helpId">
            <small id="helpId" class="form-text text-muted text-center">Name your burger.</small>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="list-group-item-action list-group-item active">Burgers Available</button>
                        {{#each burgers}}
                        {{#if devoured}}
                        <button type="button" class="list-group-item list-group-item-action">{{id}} {{burger_name}}</button>
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="col-6">
                        <button type="button" class="list-group-item list-group-item-action active">Burgers Devoured</button>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <button type="button" class="list-group-item list-group-item-action">{{id}} {{burger_name}}</button>
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>