<div class="container">
    <form>
        <div class="form-group">
            <label for="burgerInput"></label>
            <input type="text" class="form-control" name="burgerInput" id="burgerInput" aria-describedby="helpId">
            <small id="helpId" class="form-text text-muted text-center">Name your burger.</small>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        
        <div class="col-6">
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{id}} {{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <ul class="list-group">
            </ul>
        </div>
        
    </div>
</div>